@model Tetrifact.Web.AddPackageModel;
@{
    ViewData["Title"] = "Upload package archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form id="archiveUpload" enctype="multipart/form-data">
        <input class="projectName" value="@Model.Project" type="hidden" />
        <p>
            Manually create a package from an uploaded zip or tar.gz archive.
        </p>

        <div class="layout-row">
            <div class="layout-label">
                Archive
            </div>
            <div class="layout-value">
                <input placeholder="Archive" name="Files" type="file" />
            </div>
        </div>

        <div class="layout-row">
            <div class="layout-label">
                Package Name
            </div>
            <div class="layout-value">
                <input class="packageName" type="text">
            </div>
        </div>

        <div class="layout-row">
            <div class="layout-label">

            </div>
            <div class="layout-value">
                <input type="button" class="submit button" value="Upload" />
                <div class="addPackage-contactingServer">
                    Contacting server ...
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/scripts/addPackage.js"></script>