@{
    ViewData["Title"] = "Create project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form id="addProject">

        <p>
            Create a project
        </p>

        <div class="layout-row">
            <div class="layout-label">
                Name
            </div>
            <div class="layout-value">
                <input class="projectName" type="text">
                <p>
                    (Only alphanumeric, underscores and dashes permitted)
                </p>
            </div>
        </div>

        <div class="layout-row">
            <div class="layout-label">

            </div>
            <div class="layout-value">
                <input type="button" class="submit button" value="Create" />
            </div>
        </div>

    </form>
</div>

<script src="~/scripts/addProject.js"></script>