@{
    ViewData["Title"] = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul>
        <li>
            <p>
                Gets a list of all package ids
            </p>
            <a href="/v1/packages">/v1/packages</a>
            <hr />
        </li>
        <li>
            <p>
                Get a detailed list of packages
            </p>
            <a href="/v1/packages?isFull=true">/v1/packages?isFull=true</a>
            <hr />
        </li>
        <li>
            <p>
                Gets the latest package with a given tag
            </p>
            <a href="/v1/packages/latest/myTag">/v1/packages/latest/myTag</a>
            <hr />
        </li>
        <li>
            <p>
                Gets if package exists
            </p>
            <a href="/v1/packages/myPackage/exists">/v1/packages/myPackage/exists</a>
            <hr />
        </li>
    </ul>
</div>