@{
    ViewData["Title"] = "API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        <ul>
            <li><a href="/v1/packages">get list of package ids</a></li>
            <li><a href="/v1/packages/latest/myTag">Gets the latest package with a given tag</a></li>
            <li><a href="/v1/packages?isFull=true">get detailed list of packages</a></li>
            <li><a href="/v1/packages/myPackage/exists">Check if package exists</a></li>
        </ul>
    </p>
</div>