@using Tetrifact.Core;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tetrifact";
    IEnumerable<Package> packages = ViewData["packages"] as IEnumerable<Package>;
    IEnumerable<string> tags = ViewData["tags"] as IEnumerable<string>;
}

<div>

    <h2>Tags</h2>
    @if (tags.Any())
    {
        <ul>
            @foreach (string tag in tags)
            {
                <li>
                    <a href="/packagesWithTag/@tag">@tag</a>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No tags have been added yet.
        </text>
    }

    <h2>Packages</h2>
    @if (packages.Any())
    {
        <ul class="list">
            @foreach (Package package in packages)
            {
            <li class="listItem">
                <a href="/package/@package.Id">@package.Id</a> <div class="subtext">(@package.CreatedUtc.ToLocalTime().ToString("g"))</div>
            </li>
            }
        </ul>
    }
    else
    {
        <text>
            No packages have been added yet.
        </text>
    }

</div>