@model  Tetrifact.Web.ContentSummaryModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="layout-section">

    <h2>Projects </h2>

    @if (Model.Projects.Any())
    {
        <ul class="list">
            @foreach (string project in Model.Projects)
            {
                <li class="listItem">
                    <a href="/project/@project">@project</a> <div class="subtext"></div>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No projects have been added yet.
        </text>
    }
</div>
