@using Tetrifact.Core;
@{
    string tag = ViewData["tag"] as string;
    ViewData["Title"] = $"Tag : {tag}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Package> packages = ViewData["packages"] as IEnumerable<Package>;
}

<div>
    <h2>Packages : </h2>
    @if (packages.Any())
    {
        <ul>
            @foreach (Package package in packages)
            {
                <li>
                    <a href="/package/@package.Id">@package.Id</a> <div class="subtext">(@package.CreatedUtc.ToLocalTime().ToString("g"))</div>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No packages found for this tag.
        </text>
    }

</div>