@using Tetrifact.Core;
@using Tetrifact.Web;
@using Humanizer;
@{
    string tag = ViewData["tag"] as string;
    ViewData["Title"] = $"Packages tagged with \"{tag}\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Package> packages = ViewData["packages"] as IEnumerable<Package>;
}

<div>
    @if (packages.Any())
    {
        <ul>
            @foreach (Package package in packages)
            {
                <li class="listItem">
                    <a href="/package/@package.Id">@package.Id</a> <div class="subtext">(@TimeHelper.ToIsoString(package.CreatedUtc.ToLocalTime()) - @package.CreatedUtc.ToLocalTime().Humanize() )</div>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No packages found for this tag.
        </text>
    }
</div>