@using Tetrifact.Core;
@using Humanizer;
@model Tetrifact.Web.PackagesWithTagModel;
@{
    ViewData["Title"] = $"Packages tagged with \"{Model.Tag}\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.Packages.Any())
    {
        <ul>
            @foreach (Package package in Model.Packages)
            {
                <li class="listItem">
                    <a href="/package/@Model.Project/@package.Id">@package.Id</a> <div class="subtext">(@package.CreatedUtc.ToLocalTime().ToString("g") - @package.CreatedUtc.ToLocalTime().Humanize() )</div>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No packages found for this tag.
        </text>
    }
</div>