@using Tetrifact.Core;
@using Humanizer;
@model Tetrifact.Web.ProjectModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"Project : {@Model.Project}"; 
}

<div class="layout-section">

    <h2>Recent Packages</h2>

    @if (Model.Packages.Any())
    {
        <ul class="list">
            @foreach (Package package in Model.Packages)
            {
                <li class="listItem">
                    <a href="/package/@Model.Project/@package.Name">@package.Name</a> <div class="subtext">(@package.CreatedUtc.ToLocalTime().ToString("g") - @package.CreatedUtc.Humanize())</div>
                </li>
            }
        </ul>
        <p>
            <a href="/packages/@Model.Project">View all</a>
        </p>
    }
    else
    {
        <text>
            No packages have been added yet.
        </text>
    }
    <div>
        <a class="button" href="/addPackage/@Model.Project">Add package</a>
    </div>
</div>

<div class="layout-section">

    <h2>Frequently Used Tags</h2>

    @if (Model.Tags.Any())
    {
        <ul>
            @foreach (string tag in Model.Tags)
            {
                <li class="listItem">
                    <a href="/packagesWithTag/@Model.Project/@tag">@tag</a>
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No tags have been added yet.
        </text>
    }
</div>
