@using Tetrifact.Core;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Package> packages = ViewData["packages"] as IEnumerable<Package>;
    IEnumerable<string> tags = ViewData["tags"] as IEnumerable<string>;
}

<div class="layout-section">

    <h2>Recent Packages</h2>

    @if (packages.Any())
    {
        <ul class="list">
            @foreach (Package package in packages)
            {
                <li class="listItem">
                    <a href="/package/@package.Id">@package.Id</a> <div class="subtext">(@package.CreatedUtc.ToIso() - @package.CreatedUtc.Ago() ago)</div>
                    @await Html.PartialAsync("TagsList", package.Tags)
                </li>
            }
        </ul>
    }
    else
    {
        <text>
            No packages have been added yet.
        </text>
    }
</div>

<div class="layout-section">

    <h2>Frequently Used Tags</h2>

    @if (tags.Any())
    {
        @await Html.PartialAsync("TagsList", tags)
    }
    else
    {
        <text>
            No tags have been added yet.
        </text>
    }
</div>
