/vagrant/*/.vagrant
/Tests/obj
/.vs
/src/Tetrifact.Web/obj
/src/Tetrifact.Web/bin
/src/Tetrifact.Web/wwwroot/lib
/src/Tetrifact.Tests/bin
/src/Tetrifact.Web/src.csproj.user
/src/Tetrifact.DevUtils/bin
/src/Tetrifact.DevUtils/obj
/src/Tetrifact.Web/Tetri.csproj.user
/src/Tetrifact/obj
/src/Tetrifact.Web/*.user
/src/Tetrifact.Core/obj
/src/Tetrifact.Core/bin
/src/Tetrifact.Tests/obj
/src/Tetrifact.ExternalTests/obj
/src/Tetrifact.ExternalTests/bin
/src/Tetrifact.Tests/Tetri.Tests.csproj.user
/src/Tetrifact.Tests/coverage.xml.*
/docker/.tmp
/src/.vs
/docker/.artefacts
/docker/data
/docker/.clone
/build/win/out
/build/win/clone
/build/linux/out
/build/linux/clone
/src/Tetrifact.Tests/coverage.xml
/src/Tetrifact.Tests/coverage
/src/coverage
/build/live/.stage

