<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="IS_IIS" value="true" />
        <environmentVariable name="LIST_PAGE_SIZE" value="10" />
        <environmentVariable name="AUTH_LEVEL" value="Write" />
        <environmentVariable name="ACCESS_TOKENS" value="" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="DOTNET_HOST_PATH" value="dotnet" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- increase the size of posts. This is used when running in visual studio.  -->
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="2094967295" executionTimeout="120" />
  </system.web>
</configuration>