.layout-section {
    padding-bottom: 40px;
}

.layout-table {
    display: table;
    width: 100%;
}

.layout-row {
    display: table-row;
}

.layout-label {
    display: table-cell;
    font-weight: bold;
    padding: 8px 20px 0;
    border-bottom: solid 1px #e6e6e6;
}

.layout-value {
    display: table-cell;
    word-break: break-word;
    padding: 8px 0;
    border-bottom: solid 1px #e6e6e6;
}


/******************************************************************************
 * Dark mode overrides
 *****************************************************************************/
body.--dark .layout-label {
    border-bottom-color: #3b3b3b;
}

body.--dark .layout-value {
    border-bottom-color: #3b3b3b;
}

