.package-removeTag{
    margin-right: 16px;
}

.package-removeTag.package-removeTag--disabled {
    opacity: .5;
    pointer-events: none;
}

.package-download {
    font-weight: bold;
    font-size: 16px;
    padding: 0 8px;
}

.package-deleteIcon {
    width: 19px;
    position: relative;
    top: 4px;
    pointer-events: none;
}
