html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

h2 {
    margin-top: 40px;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subtext {
    color: gray;
    font-size: 12px;
}

.listItem {
    padding-bottom: 4px;
    padding-bottom: 8px;
}

.button {
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    background-color: orangered;
    color: white;
    padding: 10px 20px;
}

.button.button--dark {
    background-color: brown;
}

input[type=text] {
    height: 35px;
    padding: 6px;
}

.shell {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.subtitle {
    font-size: 16px;
    font-weight: 100;
    padding-left: 10px;
    white-space: nowrap;
}

.fixed {
    flex: 1;
}

a {
    color: orangered;
    text-decoration: none;
}

header {
    background-color: orangered;
}

.gridScaffold {
    padding: 16px 8px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.searchFieldHolder {
    display: inline-block;
    position: absolute;
    right: 10px;
    max-width: 50%;
    white-space: nowrap;
}

.title {
    color: white;
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    max-width: 50%
}

main {
    padding: 16px 8px;
}


.copyright {
    font-size: 14px;
    padding: 8px 0;
}

.listItem {
    padding: 8px 0;
    display: table;
    width: 100%;
}

.listItem-icon {
    display: table-cell;
    width: 34px;
    vertical-align: middle;
}

.listItem-text {
    word-break: break-word;
    display: table-cell;
}

.listItem:not(:last-of-type) {
    border-bottom: solid 1px #e6e6e6;
}

/******************************************************************************
 upload package
 *****************************************************************************/
.uploadPackage-contactingServer {
    display: none;
}

.uploadPackage-contactingServer.uploadPackage-contactingServer--show {
    display: block;
}

.uploadPackage-uploadButton {
    width: 100px;
    margin-bottom: 12px;
}

.uploadPackage-fileSelector {
    display: none;
}

/******************************************************************************
 *footer
 *****************************************************************************/
.pager {
    padding: 0 0 8px 0;
}

.pager-item {
    display: inline-block;
    margin: 4px 2px;
    position: relative;
}


.pager-link {
    background-color: orangered;
    color: white;
    display: block;
    padding: 10px 14px;
}

.pager-link.pager-link--active {
    background-color: lightcoral;
}



/******************************************************************************
 *footer
 *****************************************************************************/
footer {
    background-color: #343434;
    color: white;
    display: block;
    padding: 8px;
    border-top: orangered 12px solid;
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    padding-right: 24px;
    width: 250px;
    margin: 20px 0;
}

.footer-item {
    padding: 4px 0;
}

@media all and (max-width: 720px) {
    .footer-section {
        margin: 0;
        width: 100%;
    }
}
